.jumbotron {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 30px;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.9;
  margin: 10px;
}


h3 {
  font-size: 50px;
  font: outline;
}

p {
  font-size: 10px;
  text-align: center;
}

body {
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  opacity: 0.85;
  
}