<nav class="navbar navbar-expand-lg navbar-dark info-color-dark">
  <a class="navbar-brand" routerLink="user-profile"><strong>GitHub-Search</strong> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-3 mt-lg-0" >
      <li class="nav-item ">
        <a class="nav-link" routerLink="user-profile">Search User<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons ico" >
      <li class="nav-item">
        <a class="nav-link"><i class="fab fa-github"style="font-size:20px"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fab fa-twitter"style="font-size:20px"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fab fa-instagram"style="font-size:20px"></i></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-body">

  <div class="input-group rounded">
    <input type="text" class="form-control rounded" placeholder="Enter UserName" [(ngModel)]="username" name="username" (keyup)="searchUser()" style="text-align:center" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>
<div *ngIf="Users">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="font-size: 20px;"><strong>GitHub UserName: {{Users.name}}</strong></h3>
    </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img class="img-thumbnail" src="{{Users.avatar_url}}">
        <a class="btn btn-default btn-block" target="_blank" href="{{Users.html_url}}">View Profile</a>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="stats">
          <p>{{Users.bio}}</p>
          <span class="label label-default">{{Users.public_repos}} Public Repos</span>
          <span class="label label-success">{{Users.followers}} Followers</span>
          <span class="label label-info">{{Users.following}} Following</span>
          <span class="label label-danger">{{Users.company}}</span>
          <span class="label label-danger">{{Users.type}}</span> 
        </div>
        <br/>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Username: </strong>{{Users.login}}
          </li>
          <li class="list-group-item">
            <strong>Public Gists: </strong>{{Users.public_gists}}
          </li>
          <li class="list-group-item">
            <strong>Email: </strong>{{Users.email}}
          </li>
          <li class="list-group-item">
            <strong>Type: </strong>{{Users.type}}
          </li>
          <li class="list-group-item">
            <strong>Joined in: </strong>{{Users.created_at}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding: right 500px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="text-align:center"><strong>User Repositories</strong></h3>
    </div>
    <div class="panel-body">
      <div *ngFor="let repo of Repos">
        <div class="row">
          <div class="col-md-9">
            <h4>
              <a target="_blank" href="{{repo.html_url}}">{{repo.name}}</a>
            </h4>
            <p>{{repo.description}}</p>
          </div>
          <div class="col-md-3">
            <span class="label label-default">{{repo.watchers}} Watch</span>
            <span class="label label-primary">{{repo.forks}} Forks</span>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
</div>
</div>